* {
    box-sizing: border-box;
}

body {
    background: #f2f2f2;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

.contenedor {
    /*OTRA OBSERVACION DEL PORQUE SE DEJA EL 90%
    ES PORQUE EL 10% SON PARA MARGENES*/
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}


/*---------------------HEADER--------------*/

header {
    background: url(../img/img2.jpg);
    /*background: url(../img/imagen_fondo_2.jpg);*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    max-height: 600px;
}

header .menu {
    margin: 40px 0;
    text-align: right;
}

header .menu a {
    margin: 0 20px;
    color: #f2f2f2;
    padding-bottom: 9px;
    display: inline-block;
    border-bottom: 2px solid transparent;
    font-weight: 900;
    text-decoration: none;
    transition: all .7s ease-out;
    opacity: .8;
}

header .menu a:hover {
    opacity: 1;
    border-bottom: 2px solid #f2f2f2;
    /*border-bottom: 2px solid #CD0E16;*/
}

header .contenedor-texto {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 190px 0;
}

header .contenedor-texto .texto {
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 3px;
    display: inline-block;
    text-align: center;
    padding: 20px 60px;
    transition: all .3s ease;
    opacity: .8;
}

header .contenedor-texto .texto:hover {
    border: 2px solid #f2f2f2;
    opacity: 1;
}

header .contenedor-texto .texto h1,
header .contenedor-texto .texto h2 {
    color: #f2f2f2;
    font-weight: 300;
    margin: 0;
}

header .contenedor-texto .texto .nombre {
    margin-bottom: 10px;
    font-size: 57px;
    line-height: 60px;
}

header .contenedor-texto .texto .profesion {
    font-size: 29px;
    line-height: 25px;
}


/*--------------SECTION--------------------*/


/*NUEVA PROPIEDAD*/

.main .contenedor {
    overflow: visible;
}

.main .acerca-de {
    text-align: center;
}

.main .acerca-de .foto {
    margin-top: -100px;
}

.main .acerca-de .foto img {
    vertical-align: top;
    border-radius: 50%;
    margin-right: 50px;
    border: 5px solid rgba(255, 255, 255, .2);
}

.main .acerca-de .texto {
    color: #5a5a5a;
    font-weight: 300;
    font-size: 1em;
    line-height: 30px;
    width: 80%;
    margin: 40px auto 60px auto;
}

.main .acerca-de .texto .titulo {
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 40px;
    font-weight: 300;
    color: #dd820d;
    text-align: center;
}

.main .acerca-de .texto .bold {
    color: #3895ea;
    text-decoration: underline;
}


/*---------------SECTION-TRABAJOS----------------------------*/

.main .trabajos {
    background: #bdbdbd2f;
    padding: 60px 0;
}

.main .trabajos .contenedor {
    overflow: hidden;
}

.main .trabajos .titulo {
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 40px;
    font-weight: 300;
    color: #323068;
    text-align: center;
}

.main .trabajos .contenedor-trabajos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main .trabajos .contenedor-trabajos .trabajo {
    width: 23%;
    margin-bottom: 20px;
    border: 2px solid #1da1f2;
    padding: 4px;
    opacity: .8;
    transition: all .6s ease-out;
}

.main .trabajos .contenedor-trabajos .trabajo:hover {
    opacity: 1;
    cursor: pointer;
}

.main .trabajos .contenedor-trabajos .trabajo .thumb {
    width: 100%;
    margin-bottom: 10px;
}

.main .trabajos .contenedor-trabajos .trabajo .thumb img {
    width: 100%;
    vertical-align: top;
    border-radius: 3px;
}

.main .trabajos .contenedor-trabajos .trabajo .descripcion {
    text-align: center;
}

.main .trabajos .contenedor-trabajos .trabajo .nombre {
    font-weight: 700;
    color: #3895ea;
    margin-bottom: 10px;
}

.main .trabajos .contenedor-trabajos .trabajo .categoria {
    font-size: 14px;
    color: #636363;
}


/*-----------------FOOTER----------------------------*/

footer .contacto {
    padding: 60px 0;
    background: #bdbdbd2f;
}

footer .contacto .contenedor {
    background: #f2f2f2;
    padding: 20px;
}

footer .contacto .titulo {
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 40px;
    font-weight: 300;
    color: #3295ea;
    padding-bottom: 20px;
    border-bottom: 2px solid #3295ea;
    text-align: center;
}

footer .contacto .formulario {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .contacto .formulario input[type="text"],
footer .contacto .formulario textarea {
    border: 2px solid #cecece;
    border-radius: 5px;
    padding: 15px 20px;
    font-size: 20px;
    color: #0a0a0a
}

footer .contacto .formulario input[type="text"] {
    width: 100%;
    margin-bottom: 15px;
    transition: all .8s ease;
}

footer .contacto .formulario input[type="text"]:focus,
footer .contacto .formulario input[type="email"]:focus {
    border: 2px solid #4fb560;
    box-shadow: 0 0 10px #4fb560;
}

footer .contacto .formulario textarea {
    width: 100%;
    min-height: 100px;
    max-height: 100px;
    min-width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    transition: all .8s ease-out;
}

footer .contacto .formulario textarea:focus {
    border: 2px solid #4fb560;
    box-shadow: 0 0 10px #4fb560;
}

footer .contacto .formulario .boton {
    margin: auto;
    background: #3895ea;
    width: 200px;
    background: none;
    border: 1px solid #3895ea;
    color: #3895ea;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 20px;
    font-size: 16px;
    border-radius: 3px;
    box-shadow: 0 0 20px #3295ea;
    transition: all .6s ease;
}

footer .contacto .formulario .boton:hover {
    box-shadow: none;
    background: #3295ea;
    font-weight: 900;
    border: 1px solid #3295ea;
    color: #f2f2f2;
}

footer .contacto .formulario .boton:active {
    background: #4fb560;
    border: 1px solid #4fb560;
    font-weight: 600;
}


/*---------------FOOTER---------------------------*/

footer {
    background: url(../img/img2.jpg);
    /*background: url(../img/imagen_fondo_2.jpg);*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    max-height: 1000px;
}

footer .redes-sociales {
    background: #1e2b38;
    padding: 60px 0;
    padding-bottom: 20px;
    transition: all .6s ease-out;
}

footer .redes-sociales:hover {
    background: #23001E;
}

footer .redes-sociales .contenedor {
    display: flex;
    justify-content: center;
}

footer .redes-sociales a {
    color: #fff;
    width: 100px;
    text-align: center;
    display: block;
    padding: 15px 0;
    border-radius: 3px;
    font-size: 30px;
    margin: 0 20px;
    transition: all .5s ease-in;
}

footer .redes-sociales .twitter:hover {
    background: #1da1f2;
}

footer .redes-sociales .facebook:hover {
    background: #3b5998;
}

footer .redes-sociales .github:hover {
    background: rgb(7, 7, 7);
}

footer .redes-sociales .instagram:hover {
    background: #FF4F12;
}

footer .redes-sociales .Youtube:hover {
    background: #ff0000;
}

footer .contenedor p {
    color: #f2f2f2;
    font-size: 20px;
    line-height: 17px;
    font-weight: 900;
}


/*-------- -------- MEDIA QUERIES ------ ----------*/

@media screen and (max-width: 800px) {
    header .menu {
        text-align: center;
    }
    .main .trabajos .contenedor-trabajos .trabajo {
        width: 46%;
    }
}

@media screen and (max-width: 500px) {
    header .contenedor-texto .texto .nombre {
        font-size: 40px;
    }
    header .contenedor-texto .texto .profesion {
        font-size: 18px;
    }
    footer .redes-sociales .contenedor {
        flex-wrap: wrap;
        padding: 20px;
    }
}

@media screen and (max-width: 400px) {
    header .menu {
        text-align: start;
    }
    header .menu a {
        margin: 0 15px;
    }
    header .contenedor-texto .texto .nombre {
        font-size: 35px;
    }
    header .contenedor-texto .texto .profesion {
        font-size: 18px;
    }
    /*----------MAIN---------*/
    .main .trabajos .contenedor-trabajos .trabajo {
        width: 100%;
    }
    .main .trabajos .contenedor-trabajos {
        flex-direction: column;
        justify-content: center;
    }
    /*-----------FOOTER---------*/
    footer .contacto .formulario {
        flex-direction: column;
    }
    footer .contacto .formulario input[type="text"],
    footer .contacto .formulario input[type="email"] {
        width: 100%;
    }
    footer .redes-sociales .contenedor {
        padding: 20px 0;
    }
    footer .contenedor p {
        text-align: start;
        line-height: 12px;
        font-size: 16px;
    }
}